<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="page-container">
            <div>
                <div class="nav-container">
                    <a href="/index">Home</a>
                    <a href="/songs">Songs</a>
                    <a href="/contact">Contact</a>
                    <a href="/login">Login</a>  
                </div>
            </div>
            <div>
                <div class="player-box">
                    <audio id="myAudio" src="<%= song.audio %>" autoplay loop></audio>
                    <button id="playPauseButton">
                        <img src="pauseicon.png" class="pauseIcon" style="width: 400px;height: 400px;" alt="Pause">
                        <img src="playicon.png" class="playIcon" style="width: 400px;height: 400px;display: none;" alt="Play">
                    </button>

                    <script>
                        const audioElement = document.getElementById('myAudio');
                        const playPauseButton = document.getElementById('playPauseButton');
                        const playIcon = document.querySelector('.playIcon');
                        const pauseIcon = document.querySelector('.pauseIcon');

                        playPauseButton.addEventListener('click', () => {
                            if (audioElement.paused) {
                            audioElement.play();
                            playIcon.style.display = 'none';
                            pauseIcon.style.display = 'inline-block';
                            } else {
                            audioElement.pause();
                            playIcon.style.display = 'inline-block';
                            pauseIcon.style.display = 'none';
                            }
                        });

                        audioElement.addEventListener('ended', () => {
                            location.reload();
                        });

                        window.addEventListener('beforeunload', () => {
                            const currentVolumeSlider = volumeSlider.value;
                            const currentVolume = audioElement.volume;
                            const currentTime = audioElement.currentTime;
                            localStorage.setItem('lastVolumeSlider', currentVolumeSlider);
                            localStorage.setItem('lastVolume', currentVolume);
                            localStorage.setItem('lastTime', currentTime);
                        });
                          
                        window.addEventListener('load', () => {
                            const storedVolumeSlider = localStorage.getItem('lastVolumeSlider');
                            const storedVolume = localStorage.getItem('lastVolume');
                            const storedTime = localStorage.getItem('lastTime');
                            if (storedVolume) {
                                volumeSlider.value = storedVolumeSlider;
                                audioElement.volume = storedVolume;
                                audioElement.currentTime = storedTime;
                            }
                        });
                    </script>

                    <img src="<%= song.albumArt %>" alt="art" style="width: 400px;height: 400px;">
                    
                    <input type="range" id="volumeSlider" min="0" max="1" step="0.1" value="0.5">
                    <script>
                        const volumeSlider = document.getElementById('volumeSlider');

                        volumeSlider.addEventListener('input', () => {
                            audioElement.volume = volumeSlider.value;
                        });
                    </script>
                    <style>
                        input[type=range] {
                          transform: rotate(-90deg);
                          width: 350px;
                          height: 400px;
                        }

                    </style>
                </div>
            </div>
            <div>
                <h3>Contact Us</h3>
                <p>
                    <form style="text-align: left; padding-left: 25px;">
                        <input type="radio" id="request" name="contact_type" value="Song Request">
                        <label for="request">Song Request</label><br>
                        <input type="radio" id="feedback" name="contact_type" value="Feedback">
                        <label for="feedback">Feedback</label><br>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" size="30"><br>
                        <label for="msg">Message:</label><br>
                        <textarea id="msg" name="msg" rows="5" cols="50"></textarea><br>
                        <input type="button" id = "form_submit" value="Submit">
                        <p id="successMessage" style="display: none;">Success!</p>
                    </form>
                    <script>
                        const formSubmit = document.getElementById('form_submit');
                        const textArea = document.getElementById('msg');
                        const text = textArea.value;
                        const nameField = document.getElementById('name');
                        const name = nameField.value;
                        const successMessage = document.getElementById('successMessage');

                        formSubmit.addEventListener('click', () => {
                            if (text !== '' && name !== '') {
                                successMessage.style.display = 'block';
                            } else {
                                successMessage.style.display = 'none';
                            }
                        });
                    </script>
                </p>
            </div>
            <div>
                <div class="nav-container">
                    <a href="/index">Home</a>
                    <a href="/songs">Songs</a>
                    <a href="/contact">Contact</a>  
                </div>
            </div>
        </div>

        <script>
            document.getElementById('form_submit').style.transform="translateY(-25px)";
        </script>
    </body>
</html>
