<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="page-container">
            <div>
                <div class="nav-container">
                    <a href="/index">Home</a>
                    <a href="/songs">Songs</a>
                    <a href="/contact">Contact</a>
                    <a href="/login">Login</a>  
                </div>
            </div>
            <div>
                <div class="player-box">
                    <audio id="myAudio" src="<%= song.audio %>" autoplay loop></audio>
                    <button id="playPauseButton">
                        <img src="pauseicon.png" class="pauseIcon" style="width: 400px;height: 400px;" alt="Pause">
                        <img src="playicon.png" class="playIcon" style="width: 400px;height: 400px;display: none;" alt="Play">
                    </button>

                    <script>
                        const audioElement = document.getElementById('myAudio');
                        const playPauseButton = document.getElementById('playPauseButton');
                        const playIcon = document.querySelector('.playIcon');
                        const pauseIcon = document.querySelector('.pauseIcon');

                        playPauseButton.addEventListener('click', () => {
                            if (audioElement.paused) {
                            audioElement.play();
                            playIcon.style.display = 'none';
                            pauseIcon.style.display = 'inline-block';
                            } else {
                            audioElement.pause();
                            playIcon.style.display = 'inline-block';
                            pauseIcon.style.display = 'none';
                            }
                        });

                        audioElement.addEventListener('ended', () => {
                            location.reload();
                        });

                        window.addEventListener('beforeunload', () => {
                            const currentVolumeSlider = volumeSlider.value;
                            const currentVolume = audioElement.volume;
                            const currentTime = audioElement.currentTime;
                            localStorage.setItem('lastVolumeSlider', currentVolumeSlider);
                            localStorage.setItem('lastVolume', currentVolume);
                            localStorage.setItem('lastTime', currentTime);
                        });
                          
                        window.addEventListener('load', () => {
                            const storedVolumeSlider = localStorage.getItem('lastVolumeSlider');
                            const storedVolume = localStorage.getItem('lastVolume');
                            const storedTime = localStorage.getItem('lastTime');
                            if (storedVolume) {
                                volumeSlider.value = storedVolumeSlider;
                                audioElement.volume = storedVolume;
                                audioElement.currentTime = storedTime;
                            }
                        });
                    </script>

                    <img src="<%= song.albumArt %>" alt="art" style="width: 400px;height: 400px;">
                    
                    <input type="range" id="volumeSlider" min="0" max="1" step="0.1" value="0.5">
                    <script>
                        const volumeSlider = document.getElementById('volumeSlider');

                        volumeSlider.addEventListener('input', () => {
                            audioElement.volume = volumeSlider.value;
                        });
                    </script>
                    <style>
                        input[type=range] {
                          transform: rotate(-90deg);
                          width: 350px;
                          height: 400px;
                        }

                    </style>
                </div>
            </div>
            <div>
                <h3>Login</h3>
                <form action="/login" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div>
                <div class="nav-container">
                    <a href="/index">Home</a>
                    <a href="/songs">Songs</a>
                    <a href="/contact">Contact</a>  
                </div>
            </div>
        </div>
    </body>
</html>
