<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="page-container">
            <div>
                <div class="nav-container">
                    <a href="/index">Home</a>
                    <a href="/songs">Songs</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>  
                </div>
            </div>
            <div>
                <div class="player-box">
                    <audio id="myAudio" src="song1.mp3" autoplay></audio>
                    <button id="playPauseButton">
                        <img src="pauseicon.png" class="pauseIcon" style="width: 400px;height: 400px;" alt="Pause">
                        <img src="playicon.png" class="playIcon" style="width: 400px;height: 400px;display: none;" alt="Play">
                    </button>

                    <script>
                        const audioElement = document.getElementById('myAudio');
                        const playPauseButton = document.getElementById('playPauseButton');
                        const playIcon = document.querySelector('.playIcon');
                        const pauseIcon = document.querySelector('.pauseIcon');

                        playPauseButton.addEventListener('click', () => {
                            if (audioElement.paused) {
                            audioElement.play();
                            playIcon.style.display = 'none';
                            pauseIcon.style.display = 'inline-block';
                            } else {
                            audioElement.pause();
                            playIcon.style.display = 'inline-block';
                            pauseIcon.style.display = 'none';
                            }
                        });
                    </script>

                    <img src="image1.png" alt="heartsteel logo" style="width: 400px;height: 400px;">
                    
                    <input type="range" id="volumeSlider" min="0" max="1" step="0.1" value="0.5">
                    <script>
                        const volumeSlider = document.getElementById('volumeSlider');

                        volumeSlider.addEventListener('input', () => {
                            audioElement.volume = volumeSlider.value;
                        });
                    </script>
                    <style>
                        input[type=range] {
                          transform: rotate(-90deg);
                          width: 350px;
                          height: 400px;
                        }

                    </style>
                </div>
            </div>
            <div>
                <h3>Current Songlist</h3>
                <p>HEARTSTEEL - Paranoia</p>
            </div>
            <div>
                <div class="nav-container">
                    <a href="/index">Home</a>
                    <a href="/songs">Songs</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>  
                </div>
            </div>
        </div>
    </body>
</html>
